a {
  text-decoration: none;
}

.title-contents {
  height: 90vh;
  width: 100vw;
  background-image: image-url('pic1-b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 100px;
  height: 4px;
  background-color: red;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 64vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
  height: 90%;
}

.feature-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #7FDA58;
  color: #fff;
}

.feature-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.feature-list-red-text {
  color: red;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* 遊びネタ一覧 */
.play-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 0 10vh 0;
}

.play-contents>.title {
  font-size: 3.5vh;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  position: relative;
}

.play-contents>.title::after {
  content: '';
  width: 100px;
  height: 4px;
  background-color: red;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.play-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.play-lists>.list {
  width: 37vh;
  padding: 1vw;
}

.item-img-content {
  position: relative;
}

.play-img {
  width: 33vh;
  height: 33vh;
}

.play-info {
  color: black;
  padding: 1vw;
}

.play-name {
  font-size: 2.5vh;
}

.play-how {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}
/* //遊びネタ一覧 */