.play-show {
  background-color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.play-box {
  background-color: #fff;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.play-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.play-do-btn {
  text-align: center;
  background-color: #3CCACE;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.play-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.play-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-play {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.change-play-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}
