<footer class='second-footer'>
  <div class='second-footer-text-wrap'>
    <p class='second-footer-text'>プライバシーポリシー</p>
    <p class='second-footer-text'>ASOBIN利用規約</p>
    <p class='second-footer-text'>特定商取引に関する表記</p>
  </div>
  <%= link_to image_tag("asobin_logo.png", class:"second-footer-logo"), "/" %>
</footer>
