.mypage-user-plays {
  width: 100%;
  padding: 20vh 0 10vh 0;
}

.return-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-btn {
  font-size: 2vh;
  font-weight: bold;
  color: black;
  background-color: #EFEFEE;
  border-radius: 10px;
  padding: 8px;
}

.return-btn:hover {
  background-color: #7FDA58;
  transition: 0.5s;
}