.tab-area {
  display: flex;
  justify-content: space-around;
}


.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-top: solid 1px #CCC;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}
